* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

#banner {
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden;

  > * {
    position: absolute;
    inset: 0;
  }

  .main-logo {
    z-index: 100;
    pointer-events: none;
  }

  .frame1 {
    z-index: 10;
    pointer-events: none;
  }

  .frame2 {
    z-index: 9;
  }
  .frame3 {
    z-index: 8;
  }
}

.rect-grey > rect {
  fill: #383838;
}

.rect-teal > rect {
  fill: #afede0;
}

.rect-orange > rect {
  fill: #ea5207;
}